{% load static %}

<!-- ================================
Start Footer
================================= -->
<footer>
      <div class="footerCol" style="background-color:#c9d3e1">
        <div class="container">
          <ul class="socialCol" >
            <li><a href="https://github.com/aliosmanbeker"><img src="../static/images/github.svg" alt="..."></a></li>
            <li><a href="https://twitter.com/aliosmanbeker"><img src="../static/images/twitter.svg" alt="..."></a></li>
            <li><a href="https://www.linkedin.com/in/ali-osman-beker-8b3b82184/"><img src="../static/images/linkedin.svg" alt="..."></a></li>
          </ul>
          <div class="copyrightCol">
            <p>Copyright ©2023 All rights reserved. Designed by Ali Osman Beker </p>
          </div>
        </div>
      </div>
    </footer>
<!-- ================================
End Footer
================================= -->